@tailwind base;
@tailwind components;
@tailwind utilities;
.select-gradiant {
  /* background: url('/selected-field.png') no-repeat; */
  background: url("/selected-field.png");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  transform: scale(1.05);
}
